<h2>{{_survey?.name}}</h2>
<form clrForm [formGroup]="submitSurvey" (ngSubmit)="submitFeedback()">
  <div *ngFor="let question of _survey?.questionnaire" [ngSwitch]="question.type">
    <div class="question-title">
      <h3>{{question.title}}</h3>
    </div>
    <div *ngSwitchCase="'singleLine'">
      <clr-input-container>
        <input clrInput type="text" [formControlName]="'Q'+question.id"/>
      </clr-input-container>
    </div>

    <div *ngSwitchCase="'multiLine'">
      <textarea clrTextarea name="description" size="50"
                [formControlName]="'Q'+question.id"></textarea>
    </div>

    <div *ngSwitchCase="'radio'">
      <clr-radio-container clrInline>
        <clr-radio-wrapper *ngFor="let option of question.optionalValues">
          <input type="radio" clrRadio [value]="option" [formControlName]="'Q'+question.id"/>
          <label>{{option}}</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </div>

    <div *ngSwitchCase="'select'">
      <div *ngFor="let option of question.optionalValues let i = index">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox [id]="'Q'+question.id+i" [value]="option"
                   (click)="toggle('Q'+question.id, option)"
                   [formControlName]="'Q'+question.id"/>
            <label>{{option}}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
    </div>
  </div>
  <div class="submit-survey" *ngIf="!isCreateSurvey">
    <button type="reset" class="btn btn-inverse" (click)="resetForm()">Clear</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>

</form>