<clr-main-container>
<header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="note" class="is-solid is-success"></clr-icon>
        <span class="title">Survey Shrike</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="/" class="active nav-link nav-icon-text">
        <clr-icon shape="user" class="is-solid is-success"></clr-icon>
        <span class="nav-text">JDK2.0</span>
      </a>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="cog" class="is-info"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="/" clrDropdownItem>About</a>
          <a href="/" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" *ngIf="show">
      <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink routerLink="create-survey" routerLinkActive="active"
           class="nav-link">
          <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
          Create Surveys
        </a>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink routerLink="my-surveys"
           class="nav-link">
          <clr-icon shape="grid-view" class="is-solid" clrVerticalNavIcon></clr-icon>
          View My surveys
        </a>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink routerLink="survey-response"
           class="nav-link">
          <clr-icon shape="details" class="is-solid" clrVerticalNavIcon></clr-icon>
          My survey responses
        </a>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</clr-main-container>