<!--<clr-main-container>-->
<!--  <div class="content-container">-->
<!--    <div class="content-area">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <clr-vertical-nav [clrVerticalNavCollapsible]="true">-->
<!--      <clr-vertical-nav-group routerLinkActive="active">-->
<!--        <a clrVerticalNavLink routerLink="create-survey" routerLinkActive="active"-->
<!--           class="nav-link">-->
<!--          <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>-->
<!--          Create Surveys-->
<!--        </a>-->
<!--      </clr-vertical-nav-group>-->
<!--      <clr-vertical-nav-group routerLinkActive="active">-->
<!--        <a clrVerticalNavLink [routerLink]="['./my-surveys']"-->
<!--           class="nav-link">-->
<!--          <clr-icon shape="grid-view" class="is-solid" clrVerticalNavIcon></clr-icon>-->
<!--          View My surveys-->
<!--        </a>-->
<!--      </clr-vertical-nav-group>-->
<!--      <clr-vertical-nav-group routerLinkActive="active">-->
<!--        <a clrVerticalNavLink routerLink="survey-response"-->
<!--           class="nav-link" (click)="goToRes()">-->
<!--          <clr-icon shape="details" class="is-solid" clrVerticalNavIcon></clr-icon>-->
<!--          My survey responses-->
<!--        </a>-->
<!--      </clr-vertical-nav-group>-->
<!--    </clr-vertical-nav>-->
<!--  </div>-->
<!--</clr-main-container>-->